<head>
  <title>Michelada.io</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
<div class="jumbotron text-center", style="height: 800px;">
  <h1>Michelada.io</h1>
  <p>Sistema para la administracion de productos</p> 
	<%= link_to 'Marcas', index_brand_path, :class => "btn btn-primary" %>
	<%= link_to 'Productos', index_product_path, :class => "btn btn-primary" %>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>