<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center">
  	<div class="row"> 
    	<div class="col col-md-6 col-md-offset-3" style="padding: 40px;">

			<div>
			  <strong>Nombre:</strong>
			  <%= @brand.name %>
			</div>

			<%= link_to 'Editar', edit_brand_path(@brand), :class => "btn btn-info"  %> 
			<%= link_to 'Lista', brands_path, :class => "btn btn-primary"  %> 
			<%= link_to 'Menú principal', index_home_path, :class => "btn btn-primary"  %>

		</div>
	</div>
  </div>
</body>